.contactenos {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 0rem;
}

.contactenos__calendario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caledar-dias {
  border: 2px solid purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.dias{
  display: flex;
  align-items: center;
  justify-content: center;
}

.dia-seleccionado {
  width: 30px;
  height: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #0b5688;
  margin-left: 1.5rem;
}

.dia-disponible {
  width: 30px;
  height: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #08d4e2;
}

.dia-nodisponible {
  width: 30px;
  height: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #636666;
  margin-left: 1.5rem;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-amwm {
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}
.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
}

@media screen and (max-width: 767px) {
  .tg {
    width: auto !important;
  }
  .tg col {
    width: auto !important;
  }
  .tg-wrap {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
input.contactenos__formulario__submit{
  margin-top: 1.5rem;
}
h2.contactenos__formulario__titulo{
  padding-top: 1rem;
}

.content-select{
  padding-bottom: 1.5rem;
}

.contactenos__formulario {  
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contactenos__formulario__titulo {
}

.content-select{
	max-width: 250px;
	position: relative;
}
 
.content-select select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

 
.content-select i{
	position: absolute;
	right: 20px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid #a4f4ff;
	border-bottom:4px solid #3d40ff;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}
 
.content-select:hover i{
	margin-top: 3px;
}

.contactenos__formulario__input {
	width: 80%;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 50px;
}

.contactenos__formulario__submit {
    width: 40%;
    padding: 15px 0;
    font-style: 18px;
    font-weight: bold;
    color: white;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
}
