.contactenos {
    width: 100%;
    margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  padding-bottom: 0rem;
}

.contactenos__calendario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  border: 1px solid rgb(247, 0, 0);
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-amwm {
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}
.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
}
@media screen and (max-width: 767px) {
  .tg {
    width: auto !important;
  }
  .tg col {
    width: auto !important;
  }
  .tg-wrap {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.contactenos__formulario {  
    width: 50%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.contactenos__formulario__titulo {
}

.contactenos__formulario__input {
}

/*
.contactenos__horario{
    margin-top: 2rem;
    margin-left: 8rem;
    padding-right: 3rem;
}

form.contactenos__formulario{
    padding-top: 3rem;
    padding-left: 8rem;
    padding-right: 3rem;
}

.contactenos__calendario{
    padding-left: 8rem;
    padding-right: 3rem;
}

.contactenos__formulario__titulo__nombres{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.contactenos__formulario__titulo__detalles{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-right: 3rem;
}
*/
