.contactenos__horario{
    margin-top: 2rem;
    margin-left: 8rem;
    padding-right: 3rem;
}

form.contactenos__formulario{
    padding-top: 3rem;
    padding-left: 8rem;
    padding-right: 3rem;
}

.contactenos__calendario{
    padding-left: 8rem;
    padding-right: 3rem;
}