.galeria {
    display: flex;
    padding: 65px 0;
    flex-wrap: wrap;
    line-height: 0px;
    padding-bottom: 10rem;
    padding-top: 3rem;
}

.galeria__img {
    cursor: pointer;
    width: 100%;
}

.column {
    flex: 25%;
    padding: 5px;
}

.column .galeria__img{
    margin-top: 5px;
}

@media (max-width: 800px){
    .column {
        flex: 100%;
    }
}

@media (max-width: 600px){
    .column {
        flex: 100%;
    }
}
