html {
    scroll-behavior: initial;
}

body{
    font-family: 'Open sans', sans-serif
}

.container {
    padding-right: 4%;
    padding-left: 4%;
}

.botones-contacto {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    right: 20px;
}

.boton {
    width: 60px;
    margin-bottom: 10px;
}

@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }
}